body {
    background-color: #121212;
    color: white;
    font-size: 3rem;
}

.salary-counter {
    border: 5px solid white;
    border-radius: 12px;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
}

.salary-counter legend {
    padding: 0 10px;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.counter-display {
    text-align: center;
    font-size: 50px;
    margin: 10px 0;
}